/JavaScript-OOP/05.Prototypal-inheritance/node_modules
/JavaScript-OOP/05.Prototypal-inheritance/.vscode
/JavaScript-OOP/08. Class-Methods-and-Properties/task-1/node_modules
/JavaScript-OOP/08. Class-Methods-and-Properties/.vscode
